body {
    background-color: antiquewhite;
}

button {
    padding: 10px;
    background-color: lightblue;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.card-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex-grow: 1;
    width: 100%;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    transition-property: border-radius;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}

.card:hover {
    border-radius: 20px;
}

@media(min-width: 40rem) {
    .card {
        width: calc(50% - 40px);
    }
}
@media(min-width: 56rem) {
    .card {
        width: calc(25% - 40px);
    }
}

.card-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    width: 100%;
    
}

.details {
    text-align: center;
    color: black;
    padding-bottom: 10px;
}

.star {
    color: green;
}